body{
  background-image: url(a.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: roboto, arial;
}
.header{
  display: flex;
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: rgba(25, 53, 130, 0.3);
  font-family: roboto, arial;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  transition:  0.1s;
  z-index: 100;
}
.menu li{
  margin: 0px 30px;
  position: relative;
  padding:10px 0 10px 0 ;
 }


.header:hover{
  background-color: rgba(19, 41, 102,90%);
}
.logo{
font-size: 30px;
font-weight: 600;
color: white;
}
.kh{
  color: rgb(118, 138, 204);
}
.menu{
list-style: none;
display: flex;
margin: 0;
}

.menu li a{
  text-decoration: none;
color: white;
font-size: 20px;
transition: ease 0.3s;
}

.menu li a:hover{
  color: rgb(98, 128, 239);
}
.dropdown1{
  display: none;
top: 40px;
  position: absolute;
background-color: rgba(19, 41, 102,90%);
}
.pages:hover .dropdown1{
  display: block;
}
.dropdown1 ul{
  list-style: none;
  padding-left: 0;
}
.dropdown1 ul li{
padding: 12px 20px 12px 20px ;
position: relative;
margin: 0;
width: 150px;
}
.dropdown1 ul li:hover{
  background-color: rgba(19, 41, 102,100%);

}
.fa{
  float: right;
}
.dropdown-team{
  position: absolute;
  display: none;
  background-color: rgba(19, 41, 102,90%);
  right: -90%;
  top: 10%;
}
.dropdown-team ul li:hover{
  background-color: rgba(19, 41, 102,100%);
}
.team:hover .dropdown-team{
  display: block;
}
.fa-caret-down{
  margin-left: 5px;
}
.main{
  padding-top:84px;
  position: relative;
}
.main form{
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 7px;
top: 170px;
right: 200px;
width: 350px;
height: 420px;
  background:transparent;
  box-shadow: 0 0 35px rgb(0, 0, 0);
}
.main form div{
 padding: 5px 5px 5px 17px;
 font-size: 18px;
 margin: 5px 7px;
 line-height: 35px;
 background-color: rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 color: white;
 position: relative;
 display: flex;
 justify-content: space-between;
}
.main form div input{
  float: right;
  outline: none;
  background: transparent;
  border: none;
  width: 200px;
  color: white;
 font-size: 16px;
 border-left: 0.5px solid rgb(116, 115, 115);
}
.main form div input::placeholder{
float: right;  color: rgb(197, 195, 195);
  font-size: 14px;
}
.main form div div{
  width: 196px;
  border-radius: 0;
background: none;
border-left: 0.5px solid rgb(116, 115, 115);
position: relative;
padding: 0;

}
.main form div div select{
float: right;
background-color: transparent;
color: white;
font-size: 16px;
position: absolute;
border-radius: 5px;
right: 0;
cursor: pointer;

}
.main form div div select option{
    background-color: rgba(0, 0, 0, 0.5);
}
.main form div button{
width: 100px;
font-size: 17px;
background: transparent;
border: none;
box-shadow: 0 0 10px rgb(36, 28, 28);
border-radius: 5px;
color: white;
position: absolute;
right: 120px;
top: 8px;
cursor: pointer;
}
.main form div button:hover
,.main form div div select:hover 
{
  background-color: rgba(0, 0, 0, 0.4);
}
.btn{
height: 30px;
background-color: rgba(0, 0, 0, 1);
}
@media screen and (max-width:612px){
  .menu li{
    margin: 0px 10px;
  }
}
@media(max-width:915px){
  .header{
    flex-direction: column;
  padding: 20px 0px;
  }
  .menu{
    padding-left: 0;
  }
  .logo{
    margin-bottom: 10px
  }
}
@media(max-width:740px){
 .header{
  transform: scale(0.9);
 }
  .main{
    display: flex;
justify-content: center;
  } 
  .main form{
transform: scale(0.9);
position: static;
margin-top: 100px;
  }
}